/*home partner */
.home-partner{
  /*margin-top: -79px;*/
  margin-bottom: 30px;
}
.home-partner .item{
  height: 250px;
}

.publicationblock img {
    width: 200%;
    box-shadow: none;
}
.headerblock{
    display: inline!important;
}

.publicationblock-grid {
  margin: 0 -10px;

}
.publicationblock-grid > div {
  margin-bottom: 20px;
}
.publicationblock-grid a.publicationblock {
  color: #1f1a54;
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
  border-radius: 5px;
  box-shadow: 0 0 4px #ccc;
  height: 100%;
}
.publicationblock-grid a.publicationblock:hover {
  /*top: -2px;*/
  /*position: relative;*/
  /*@include transition(0.3s);*/
  box-shadow: 0 0 4px 1px #ccc;
}
.publicationblock-grid a.publicationblock:hover .pub-image > img {
  transform: translate(-50%, -50%) scale(1.2) rotate(-5deg);
}
.publicationblock-grid a.publicationblock p {
  color: #1f1a54;
}
.publicationblock-grid a.publicationblock .pub-image {
  padding: 0;
  border-radius: 5px 0 0 5px;
}
.publicationblock-grid a.publicationblock .pub-image img {
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
@media (max-width: 540px) {
  .publicationblock-grid a.publicationblock .pub-detail {
    width: 100%;
    border-radius: 0 0 5px 5px;
  }
}
@media (min-width: 491px) {
  .publicationblock-grid {
    -webkit-display: flex;
    -moz-display: flex;
    -ms-display: flex;
    -o-display: flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}
.captionthumbnail{
  padding:45 px !important; 
}
.publication-gridblock a.publication:hover .pub-image > img {
  transform: translate(-50%, -50%) scale(1.2) rotate(-5deg);
}
.publication-gridblock a.publication p {
  color: #1f1a54;
}
.publication-gridblock a.publication .pub-image {
  padding: 0;
  border-radius: 5px 0 0 5px;
}
.publication-gridblock a.publication .pub-image img {
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
@media (max-width: 540px) {
  .publication-gridblock a.publication .pub-image {
    width: 100%;
    border-radius: 5px 5px 0 0;
  }
}
.publication-gridblock a.publication .pub-detail {
  padding-top: 10px;
  padding-bottom: 15px;
  background-color: #ffffff;
  border-radius: 0 5px 5px 0;
}

.publicationimage{
  height: 207px !important;
  object-fit: cover;
  object-position: center center;
}
/*navigattionbar*/
.largenavbar {
  background-color: #1f1a54;
  border-radius: 0 0 5px 5px;
  margin-bottom: 10px;
  padding: 0 15px 5px 15px;
  position: relative;
  z-index: 2;
}
.largenavbar .row {
  margin: 0 -5px;
}
.largenavbar .row > div {
  padding: 0 5px;
}
.largenavbar .row > div .form-control, .largenavbar .row > div .btn {
  margin-bottom: 10px;
}
/*slidertxt*/
.hometext{
  font-weight:bold;
  margin: 5px 0 10px !important;
  /*color: #c8a05a !important;*/
}
/*  footer css*/
 .footer-top-layout {
  background: #1c1c1c none repeat scroll 0 0;
  color: #ffffff;
  padding: 40px 0;
}
.OurBlog {
  margin-bottom: 32px;
  text-align: center;
}
.footer-top-layout h4 {
  color: #ffffff;
  font-size: 18px;
  margin-bottom: 21px;
}
.OurBlog > p {
  color: #888888;
}
.post-blog-date::after {
  background: #ffffff none repeat scroll 0 0;
  bottom: 0;
  content: "";
  height: 4px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  width: 50px;
}
.post-blog-date {
  padding-bottom: 25px;
  position: relative;
}

.footer-top-layout [class*="col-sm-"]:first-child {
  padding: 0;
}
.footer-top-layout [class*="col-sm-"] {
  border-right: 2px solid #333333;
  padding: 0 0 0 28px;
  
}

.footer-top-layout [class*="col-sm-"]:last-child {
  border-right: 0px solid #333333;
}
.footer-top-layout {
  color: #ffffff;
}
.footer-col-item {
  min-height: 140px;
}

.signUpNewsletter {
  position: relative;
}
.signUpNewsletter .gt-email {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: 1px solid #666666;
  border-radius: 0;
  color: #ffffff;
  height: 52px;
}
.signUpNewsletter .btn-go {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border-color: #666666;
  border-style: solid;
  border-width: 0 0 0 1px;
  bottom: 0;
  color: #ffffff;
  font-size: 16px;
  position: absolute;
  right: 0;
  text-transform: uppercase;
  top: 0;
  width: 52px;
}
.footer-bottom-layout {
  background: #222222 none repeat scroll 0 0;
  padding: 20px 0;
  text-align: center;
}

.socialMedia-footer {
  margin-bottom: 20px;
}
.socialMedia-footer > a {
  display: inline-block;
  margin: 0 8px;
}
.footer-bottom-layout {
  text-align: center;
}
.textfooter{
  color: #355496 !important;
}
.p-sticky{
  position: -webkit-sticky;
    position: sticky;
    top: 0;
}
.o-scroll {
  background-color:  #ededed;
  /*width:240%;*/
  /*max-width: 650px;*/
  height: 450px;
  overflow: auto;
  overflow-x: hidden;
}
.o-scroll>li{
  margin-bottom: 4px;
  border-bottom: 1px solid #d2d2d2; 
  border-spacing: 15px;
}

/* advertising css */
.left-side-box {
    border: 1px solid #ededed;
    padding: 2px;
    -webkit-box-shadow: 0 0 5px 0px #9a9a9a;
    box-shadow: 0 0 5px 0px #9a9a9a;
}
.title-ads {
    color: #c4c4c4;
    font-family: ralewaymedium, ApexSansBoldST, 'trebuchet ms';
    font-size: 12px;
    text-align: center;
    margin-top: 2px;
    margin-bottom: 2px;
    padding: 5px 10px;
}
/*importantlinkcss*/
.flashnews2 {
    position: relative;
    background: #fff;
    border: 1px solid #e8eaea;
}
.f-title2{
    background: #c8a05a;
}
.f-color{
    color: white !important;
}
/*subscribercss*/
.newsletter-sectionback {
    background: #111111;
    color: #fff;
    font-family: ralewayregular, 'trebuchet ms';
    font-size: 12px;
}
.mail-nl {
    background: #363636;
    color: #f6f6f6;
    padding: 5px;
    width: 100%;
    border: none;
}
.buton-field {
    display: inline-block;
    width: 100%;
}
.mail-send {
    background: #111111;
    color: #f6f6f6;
    font-family: ralewaymedium, 'trebuchet ms';
    font-size: 14px;
    text-transform: uppercase;
    border: 1px solid #f6f6f6;
    margin-top: 10px;
    display: inline-block;
    right: 0px;
}

/*btncssviewandorder*/
.btnview{
  background: #c8a05a;
  color: white;
}
a:hover {
  color: #355496;
}
.texthomeslider{
  color: #1f1a54;
  font-weight:bold;
}
